# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default
ipython_config.py

# Large files/folders
#data/
trained/
results/
runs/
lightning_logs/
temp-logs/

# Don't ignore src/data folder
!src/data
# log files
nohup.out

